@{
    ViewBag.Title = "Ana Ekran";
}
<link href="~/Content/anaekrancss.css" rel="stylesheet" />

<div class="container">
    <div class="container">
        <header class="navbar">
            <div class="logo">
                <img src="~/Content/E-SPOR.png" alt="Logo">
                <span>ESPORTS CHARTS</span>
            </div>
            <nav class="nav-links">
                <a href="#">Turnuvalar</a>
                <a href="#">Espor Verileri</a>
                <a href="#" class="active">Oyunlar</a>
                <a href="#">Haberler</a>
                <a href="#">Ürünler</a>
                <a href="#">Hakkında</a>
            </nav>
            <div class="actions">
                <div class="icons">
                    <a href="#" class="icon search">🔍</a>
                    <a href="#" class="icon bell">🔔</a>
                    <a href="#" class="icon register">Üye Girişi</a>
                    <a href="#" class="icon language">🌐</a>
                </div>
            </div>
        </header>
    </div>

</div>